/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #011322;
  min-height: 100vh;
  overflow: hidden;
  color: #607B96;
  font-family: 'JetBrains Mono', monospace;
}
